@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center min-vh-100">
    
        <div class="col-4">
            <img src="~/Images/logofinc.jpg" alt="Foto JotaLandes Perfil" class="rounded-circle" style="height:275px;width:275px" />
            <h1 class="display-4">Financial</h1>
            <p>Controle financeiro com eficiência</p>


    </div>
</div>
