@model ContaCriacaoViewModel
@{
    ViewData["Title"] = "Nova Conta";
}
<h5>As contas são formas para agrupar saidas ou entradas </h5>
<form asp-action="Criar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TipoContaId" class="form-label"></label>
       <select asp-for="TipoContaId" asp-items="Model.TipoConta" class="form-control"></select>
        <span asp-validation-for="TipoContaId" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="Balance" class="form-label"></label>
        <input asp-for="Balance" class="form-control"/>
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
    <a class=" btn btn-primary " asp-action="Index">Cancelar</a>

</form>

